:root
{
    --bg: rgb(243, 254, 255);
    --card-bg: rgb(213, 244, 255);
    --dark: rgb(4, 170, 93);
    --mid: rgb(12, 184, 103);
    --light: rgb(12, 201, 112);
    --font: rgb(0, 136, 106);

    scroll-behavior: smooth;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Montserrat", sans-serif;
}

body
{
    background-color: var(--bg);
}

p {
    font-weight:500;
}

h1
{
    text-align: center;
}

header
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;

    background-color: var(--dark);
    color: white;
}

header > h2
{
    position: absolute;
    right: 10px;
}

nav
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0.5rem;

    width: 100%;

    background-color: var(--light);
}

nav > div
{
    background-color: var(--dark);
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    transition-duration: 0.1s;
}

nav > div:hover
{
    background-color: var(--mid);
}

a
{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}

section
{
    margin: 1rem;
}

section > h1
{
    margin: 1rem;
}

.cards
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-bottom: 1rem;
}

@media (max-width : 900px)
{
    .cards {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }
}

.card
{
    background-color: var(--card-bg);
    padding: 1rem;
    border-radius: 10px;
}

.card > h2
{
    margin-bottom: 0.5rem;
    color: var(--font);
}

.card-content
{
    display: grid;
    align-items: end;
    grid-template-columns: 1fr 4rem;
}

.card-icon {
    text-align: end;
    justify-self: end;
}

section > img
{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

#beneficios
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h3 {
    margin-bottom: 0.5rem;
}

footer
{
    background-color: var(--dark);
    min-height: 1rem;
}